<div class="background-img">
  <div class="container">
    <h2>My bookings</h2>
    <div class="row">
      <% @bookings.each do |booking|%>
        <div class="justify-content-center p-3">
          <div class="card-product">
            <%= cl_image_tag booking.planet.photo.key%>
            <div class="card-product-infos d-flex align-items-center justify-content-between">
              <div>
                <h2 class="title-planet"><%= booking.planet.name %>&nbsp;</h2>
                <p><i class="fa-solid fa-user mt-2"></i>  Booked by <%= booking.user.name %></p>
                <p><i class="fa-regular fa-calendar-days mt-2"></i>  From <%= booking.arrival_date.ordinalize %> to <%= booking.departure_date.ordinalize %> millenium</p>
              </div>
              <h2 class="total-price"><%= booking.total_price %><%= image_tag "ico.png" %></h2>
              <div>
                <% if booking.status=="declined" %>
                  <div class="booking_button_decline">
                    <i class="fa-solid fa-circle-xmark"></i>
                  </div>
                <% elsif booking.status=="pending" %>
                  <div class="booking_button_pending">
                    <i class="fa-solid fa-clock"></i>
                  </div>
                <% elsif booking.status=="accepted" %>
                  <div class="booking_button_accept">
                    <i class="fa-solid fa-circle-check"></i>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <%end%>
    </div>
  </div>
</div>
