<div class="container">
  <div class="row">
    <div class="col-sm d-flex justify-content-center">
      <div class="rounded p-3 shadow">
        <h3>Create your planet</h3>
        <%= simple_form_for @planet do |f| %>
          <%= f.input :name %>
          <%= f.input :localisation, label: "Location" %>
          <%= f.input :capacity, label: "Capacity in billion" %>
          <%= f.input :description %>
          <%= f.input :price_per_millenia, label: "Price per millenium" %>
          <%= f.input :photo, as: :file, label: "Picture", defaults: "test" %>

          <%= f.submit "Creat !",class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
