<div class="landing-picture">
  <div class="landing-bookingplanet container">
    <h1 class="landing-title booking">Book...</h1>
    <h1 class="landing-title aplanet">...a planet</h1>
    <div class="button-search">
      <%= link_to "Explore the univers !",  planets_path , class: "btn btn-primary btn-home mx-auto rounded" %>
      <%= image_tag "arrow.png", height: '24', width: '80' %>
    </div>
  </div>
  <div class="container">
    <h2 class="trending-title">Trending planets :</h2>
      <div class="row">
        <% @planets.each do |planet|%>
          <div class="col-sm d-flex justify-content-center">
            <div class="card-trip">
              <%= link_to planet_path(planet) do %>
              <%= cl_image_tag planet.photo.key, height: 300, width: 400, crop: :fill %>
              <% end %>
                <div class="card-trip-infos">
                  <div>
                    <h2><%= planet.name %></h2>
                  </div>
                  <h2 class="card-trip-pricing"><%= planet.price_per_millenia %><%= image_tag "ico.png" %></h2>
                </div>
            </div>
          </div>
       <%end%>
      </div>
  </div>
